<!DOCTYPE html>
<html lang="en">

    {% extends 'layouts/base.html' %}

    {% block title %} Pr"text {% endblock title %}

    {% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <body>


        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="mb-0">Add Trading Account</h2>
                    </div>
                    <div class="col text-right">
                        <a href="{% url 'showTradingAccount' %}" class="btn btn-sm btn-primary">show</a>
                    </div>
                </div>
            </div>

            <form action="{% url 'saveTradingAccount' %}" id="form" method="post" enctype="multipart/form-data"
                class="has-validation-callback">
                {% csrf_token %}
                <div class="row" style="margin: 10px;">
                    <input type="hidden" name="id" value="">
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="UserID">User ID</label>
                        <select class="form-control" id="UserID" name="UserID">
                            {% for x in data.user_data %}
                            <option value="{{ x.id }}">{{ x.user_name }}</option>
                            {% endfor %}


                          </select> 
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="BrokerID">BrokerID</label>
                        <select class="form-control" id="BrokerID" name="BrokerID">
                            {% for y in data.broker_data %}
                            <option value="{{ y.id }}">{{ y.broker_name}}</option>
                            {% endfor %}


                          </select> 
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="Zerodha_UserID">Zerodha_UserID</label>
                        <input type="text" class="form-control" id="Zerodha_UserID" placeholder="" name="Zerodha_UserID">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="Zerodha_Password">Zerodha_Password</label>
                        <input type="text" class="form-control" id="Zerodha_Password" placeholder="" name="Zerodha_Password">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="Zerodha_TOTP_Key">Zerodha_TOTP_Key</label>
                        <input type="text" class="form-control" id="Zerodha_TOTP_Key" placeholder="" name="Zerodha_TOTP_Key">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_Email_id">IIFL_Email_id</label>
                        <input type="text" class="form-control" id="IIFL_Email_id" placeholder="" name="IIFL_Email_id">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_Contact_Number">IIFL_Contact_Number</label>
                        <input type="text" class="form-control" id="IIFL_Contact_Number" placeholder="" name="IIFL_Contact_Number">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_App_Source">IIFL_App_Source</label>
                        <input type="text" class="form-control" id="IIFL_App_Source" placeholder="" name="IIFL_App_Source">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_User_Key">IIFL_User_Key</label>
                        <input type="text" class="form-control" id="IIFL_User_Key" placeholder="" name="IIFL_User_Key">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_Password">IIFL_Password</label>
                        <input type="text" class="form-control" id="IIFL_Password" placeholder="" name="IIFL_Password">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_User_id">IIFL_User_id</label>
                        <input type="text" class="form-control" id="IIFL_User_id" placeholder="" name="IIFL_User_id">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_Encry_Key">IIFL_Encry_Key</label>
                        <input type="text" class="form-control" id="IIFL_Encry_Key" placeholder="" name="IIFL_Encry_Key">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_OcpApimSubscription">IIFL_OcpApimSubscription</label>
                        <input type="text" class="form-control" id="IIFL_OcpApimSubscription" placeholder="" name="IIFL_OcpApimSubscription">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_My2Pin">IIFL_My2Pin</label>
                        <input type="text" class="form-control" id="IIFL_My2Pin" placeholder="" name="IIFL_My2Pin">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_ClientCode">IIFL_ClientCode</label>
                        <input type="text" class="form-control" id="IIFL_ClientCode" placeholder="" name="IIFL_ClientCode">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="IIFL_cpass">IIFL_cpass</label>
                        <input type="text" class="form-control" id="IIFL_cpass" placeholder="" name="IIFL_cpass">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="Kotak_Key">Kotak_Key</label>
                        <input type="text" class="form-control" id="Kotak_Key" placeholder="" name="Kotak_Key">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="Kotak_Secret">Kotak_Secret</label>
                        <input type="text" class="form-control" id="Kotak_Secret" placeholder="" name="Kotak_Secret">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="TA_Status">TA_Status</label>
                        <input type="text" class="form-control" id="TA_Status" placeholder="" name="TA_Status">
                    </div>
                    
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="Created_By">Created_By</label>
                        <input type="text" class="form-control" id="Created_By" placeholder="" name="Created_By">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="Updated_By">Updated_By</label>
                        <input type="text" class="form-control" id="Updated_By" placeholder="" name="Updated_By">
                    </div>
    
                </div>
                <button type="submit" class="btn btn-default" style="margin: 10px;">Submit</button>
            </form>

            {% include "includes/footer.html" %}

        </div>
        </div>

        {% endblock content %}

        <!-- Specific JS goes HERE -->
        {% block javascripts %}{% endblock javascripts %}
    </body>

</html>