<!DOCTYPE html>
<html lang="en">


<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<body>
    <div class="row">
    <div class="card-body">
    
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Strategies</h3>
                        </div>
                        <div class="col text-right">
                            <a href="{% url 'createinput' %}" class="btn btn-sm btn-primary">Add</a>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" style="width: 150px;">strategy_name</th>
                                <th scope="col" style="width: 150px;">strategy_id</th>
                                <th scope="col" style="width: 150px;">orb_range_candle_time</th>
                                <th scope="col"style="width: 150px;">or_breakout_candle_time</th>
                                <th scope="col"style="width: 200px;">orb_ma_h</th>
                                <th scope="col"style="width: 150px;">orb_ma_l</th>
                                <th scope="col"style="width: 150px;">orb_range_start_time</th>
                                <th scope="col"style="width: 150px;">orb_retracement_time</th>
                                <th scope="col"style="width: 150px;">hl_difference_points</th>
                                <th scope="col"style="width: 150px;">ttoken</th>
                                <th scope="col"style="width: 150px;">moving_avg_rows</th>
                                <th scope="col"style="width: 150px;">or_breakout_range_point_diff</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for x in data %}
                            <tr>
                                
                                <td scope="row">{{ x.strategy_name }}</td>
                                <td scope="row">{{ x.strategy_id }}</td>
                                <td scope="row">{{ x.orb_range_candle_time }}</td>
                                <td scope="row">{{ x.or_breakout_candle_time }}</td>
                                <td scope="row">{{ x.orb_ma_h}}</td>
                                <td scope="row">{{ x.orb_ma_l}}</td>
                                <td scope="row">{{ x.orb_range_start_time}}</td>
                                <td scope="row">{{ x.orb_retracement_time}}</td>
                                <td scope="row">{{ x.hl_difference_points}}</td>
                                <td scope="row">{{ x.ttoken}}</td>
                                <td scope="row">{{ x.moving_avg_rows}}</td>
                                <td scope="row">{{ x.or_breakout_range_point_diff}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a href="{% url 'updateinput'  id=x.id %}" class="btn btn-success"><i
                                          class="fa fa-edit"></i></a>
                                      <a href="{% url 'deleteinput'  id=x.id %}" onclick="return confirm('Are you sure to delete..?')"
                                        class="btn btn-danger"><i class="fa fa-remove"></i></a>
          
                                    </div>
                                  </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        


            {% include "includes/footer.html" %}

        </div>
    
    {% endblock content %}
    
    <!-- Specific JS goes HERE --> 
    {% block javascripts %}
    
      <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
      <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    
    {% endblock javascripts %}
    </body>
</html>    