<!DOCTYPE html>
<html lang="en">

    {% extends 'layouts/base.html' %}

    {% block title %} Pr"text {% endblock title %}

    {% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <body>


        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="mb-0">Update Brokers</h2>
                    </div>
                    <div class="col text-right">
                        <a href="{% url 'showinput' %}" class="btn btn-sm btn-primary">show</a>
                    </div>
                </div>
            </div>
            <form action="{% url 'update_saveinput' %}" id="form" method="post" enctype="multipart/form-data"
                class="has-validation-callback">
                {% csrf_token %}
                <div class="row" style="margin: 10px;">
                    <input type="hidden" name="id" value="{{ data.id }}">
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="strategy_name">strategy_name</label>
                        <input type="text" class="form-control" id="strategy_name" placeholder="Enter name"
                            name="strategy_name" value="{{data.strategy_name}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="strategy_id">strategy_id</label>
                        <input type="text" class="form-control" id="strategy_id" placeholder="Enter name"
                            name="strategy_id" value="{{data.strategy_id}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="orb_range_candle_time">orb_range_candle_time</label>
                        <input type="number" class="form-control" id="orb_range_candle_time" placeholder="Enter name"
                            name="orb_range_candle_time" value="{{data.orb_range_candle_time}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="or_breakout_candle_time">or_breakout_candle_time</label>
                        <input type="number" class="form-control" id="or_breakout_candle_time" placeholder="" name="or_breakout_candle_time" value="{{data.or_breakout_candle_time}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="orb_ma_h">orb_ma_h</label>
                        <input type="number" class="form-control" id="orb_ma_h" placeholder="" name="orb_ma_h" value="{{data.orb_ma_h}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="orb_ma_l">orb_ma_l</label>
                        <input type="number" class="form-control" id="orb_ma_l" placeholder="" name="orb_ma_l" value="{{data.orb_ma_l}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="orb_range_start_time">orb_range_start_time</label>
                        <input type="time" class="form-control" id="orb_range_start_time" placeholder="" name="orb_range_start_time" value="{{data.orb_range_start_time}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="orb_retracement_time">orb_retracement_time</label>
                        <input type="number" class="form-control" id="orb_retracement_time" placeholder="" name="retracement" value="{{data.orb_retracement_time}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="hl_difference_points">hl_difference_points</label>
                        <input type="number" class="form-control" id="hl_difference_points" placeholder="" name="hl_difference_points" value="{{data.hl_difference_points}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="ttoken">ttoken</label>
                        <input type="number" class="form-control" id="ttoken" placeholder="" name="ttoken" value="{{data.ttoken }}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="moving_avg_rows">moving_avg_rows</label>
                        <input type="number" class="form-control" id="moving_avg_rows" placeholder="" name="moving_avg_rows" value="{{data.moving_avg_rows}}">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4">
                        <label for="or_breakout_range_point_diff">or_breakout_range_point_diff</label>
                        <input type="number" class="form-control" id="or_breakout_range_point_diff" placeholder="" name="or_breakout_range_point_diff" value="{{data.or_breakout_range_point_diff}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-default" style="margin: 10px;">Submit</button>
            </form>

            {% include "includes/footer.html" %}

        </div>
        </div>

        {% endblock content %}

        <!-- Specific JS goes HERE -->
        {% block javascripts %}{% endblock javascripts %}
    </body>

</html>